/* @import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500"); */

@import url('/montserrat/Montserrat.css');

@import url('/jost.css');

/*#009B9E,#42B7B9,#A7D3D4,#F1F1F1,#E4C1D9,#D691C1,#C75DAB*/
/*#fcde9c,#faa476,#f0746e,#e34f6f,#dc3977,#b9257a,#7c1d6f*/
/*Geysrer #008080,#70a494,#b4c8a8,#f6edbd,#edbb8a,#de8a5a,#ca562c*/
/*https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8*/

/*'pacific-blue': {
50: '#F2FAFC',
100: '#E6F5F9',
200: '#C0E7EF',
300: '#9BD8E5',
400: '#4FBAD2',
500: '#049DBF',
600: '#048DAC',
700: '#025E73',
800: '#024756',
900: '#012F39',
*/

/*:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}*/

:root {
  --link-color: #049DBF;
  --alt-color: #D93D04;
  --main-color: #202020;
  --light-color: hsl(0 0% 98% / 1);
  --bg-light: hsl(0deg 0% 94%);
  --bg-lighter: hsl(0deg 0% 98%);
  --body-color: white;
  --grid-width: 960px;
  --font-heading: "Jost",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: "Jost", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[data-theme="dark"] {
  --link-color: hsl(191 96% 43% / 1);
  --alt-color: hsl(16 96% 48% / 1);
  --main-color: #eee;
  --body-color: #202020;
  --light-color: hsl(0 0% 98% / 1);
  --bg-light: rgba(10, 10, 10, 0.94);
  --bg-lighter: rgba(10, 10, 10, 0.86);
}

/* GENERAL */
html,
body {
  background-color: var(--body-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-body);
  font-size: 10px;
  min-height: 100vh;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover:not(.clean),
a:focus:not(.clean),
a:active:not(.clean) {
  color: var(--link-color);
  text-decoration: underline;
}

blockquote {
  border-left: solid 0.5rem var(--alt-color);
  opacity: 0.8;
  background: var(--light-color);
  padding: 2rem 3rem;
  margin: 0;
  font-family: 'Montserrat';
  line-height: 2.6rem;
}

h1, h2, h4, h4, h5 {
  font-family: var(--font-heading), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: clamp(2.4rem, -0.8rem + 8.333vw, 3.5rem);
  font-weight: 600;
}
h2 {
  font-size: clamp(1.8rem, -0.8rem + 6.333vw, 2.8rem);
}

iframe {
  box-shadow: none;
  outline: solid thin var(--light-color);
  margin: 0 -4rem;
  width: calc(100% + 8rem);
}

input, textarea {
  border: solid thin lightgray;
  border-radius: 3px;
  font-size: 1.4rem;
  font-family: inherit;
  padding: 0.5rem;
}

input[type=submit]:hover, input[type=submit]:focus {
  background: var(--link-color);
  color: white;
  cursor: pointer;  
}

pre {
  border: solid 2px var(--light-color);
  border-radius: 3px;
  padding: 1rem;
}
pre * {
  font-size: 1.4rem!important;
}

/**SCROLLBAR**/
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background: var(--body-color);
}

::-webkit-scrollbar-corner {
  background: var(--body-color);
}
/****/

strong {
  font-weight: 500;
}

main {
  flex: 1;
}

.alt-color {
  color: var(--alt-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.container {
  font-size: 1.8rem;
  width: calc(100% - 4rem);
  max-width: var(--grid-width);
  margin: 1rem auto;
}

.text-expanded {
  display: flex;
  letter-spacing: 0.5rem;
}

footer {
  font-size: 1.4rem;
  padding: 2rem;
  text-align:center;
}

/*grids*/
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

@media screen and (min-width: 900px) {
  .grid-7x-3x {
    grid-template-columns: calc(70% - 1.5rem) calc(30% - 1.5rem);
  }
}

@media screen and (min-width: 600px) {
  .grid-2x {
    grid-template-columns: repeat(2, calc(50% - 1.5rem));
  }
 .grid-3x-7x {
    grid-template-columns: calc(30% - 1.5rem) calc(70% - 1.5rem);
 }
}

.right-sidebar {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
}

/*HELPERS*/

.bg-light {
  background: var(--bg-light);
}

.bg-lighter {
  background:var(--bg-lighter);
}

/**/

/*NAV*/
.nav.container {
  display: flex;
  font-family: var(--font-headings);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 2rem auto 3rem auto;
  width: calc(100% - 2rem);
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.nav a {
  color: var(--main-color);
  display: inline-flex;
}

.nav-logo {
  margin-bottom: 1rem;
}

.nav-links {
  text-align: center;
  text-transform: uppercase;
}

.nav-links img {
  display: inline-flex;
  height: 1.6rem;
  padding: 0 1rem 0 0;
  margin-top: 2px;
}

.nav-links a {
  padding: 1rem;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--bg-light);
  border-radius: 3px;
}

[data-theme="dark"] .nav-links img {
  filter: invert();
}

@media screen and (min-width: 900px) {
  .nav.container {
    text-align: left;
    max-width: var(--grid-width);
  }

  .nav-items-left {
    display: grid;
    grid-template-columns: 100%;
  }

  .nav-items-right {
    text-align: left;
  }

  /* .container {
    display: grid;
    grid-template-columns: calc(70% - 1.5rem) calc(30% - 1.5rem);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  } */

  .right-sidebar {
    display: block;
  }
}

.nav-mobile {
  display: none;
}

@media screen and (max-width:500px) {
  .nav-links {
    display: none;
  }
  .nav-mobile {
     display: grid;
     grid-template-columns: repeat(6, 16.667%);
     position: fixed;
     bottom: 0;
     width: 100%;
     z-index: 1;
  }
  .nav-mobile a {
     text-align: center;
     background: var(--bg-light);
     padding: 0.8rem;
  }
  .nav-mobile a:hover,
  .nav-mobile a:focus {
     background: var(--link-color);
  }
  [data-theme="dark"] .nav-mobile a img {
    filter: invert();
  }
    footer {
        padding: 4rem 1rem 6rem;
    }
}

/**/

/*INDEX CARD POSTS*/

.index-card {
  grid-template-columns: 100%;
  margin: 3rem 0;
  padding: 3rem 0;
}

a .index-card {
  color: var(--main-color);
}

.index-card a:hover, .index-card a:focus {
  text-decoration: none;
}

.index-card:hover, .index-card:focus {
  opacity: 0.7;
}

.index-card:nth-of-type(1) {
  padding: 0 0 3rem;
  justify-content: unset;
}

.index-card img {
  border: solid thin var(--bg-lighter);
  border-radius: 3px;
  width: 100%;
}

.index-card h1, .index-card h2 {
  font-size: 2.4rem;
  margin: 0 0 1rem;
}

.index-card h2 {
  font-size: 2rem;
  font-weight: 400;
}

.index-card p {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .index-card:not(.related) {
    grid-template-columns: 220px calc(100% - 240px);
  }
  .index-card img {
    margin-bottom: 0;
    width: 220px;
    height: 165px;
  }
}

/**/

/*TAGS AND TAGCLOUD*/
.tagcloud {
  text-align: center;
}

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag-list-item {
  background-color: var(--bg-light);
  border-radius: 3px;
  float: left;
  font-size: 1.4rem;
  font-weight: 400;
  min-height: 23px;
  list-style: none;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  padding: 0.2rem 0.6rem;
}

a.tag-list-link {
  color: var(--main-color);
  opacity: 0.6;
}

.tag-list-item:hover a,
.tag-list-item:focus a,
.tag-list-item:hover,
.tag-list-item:focus,
a.tag-list-link:hover,
a.tag-list-link:focus {
  background: var(--link-color);
  color: white;
  text-decoration: none;
  opacity: 1;
}

/* POSTS */
.post {
  margin: 0 auto;
  max-width: 70ch;
}
.post header h1 {
  margin: 0 0 1rem;
}
.post header h2 {
  margin: 0 0 1rem;
}

.post header span {
  display:flex;
  font-size:1.4rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.post img {
  border-radius: 0;
  margin: 0 -4rem;
  width: calc(100% + 8rem);
}

@media screen and (min-width: 600px) {
  .post img {
    border-radius: 3px;
  }
  .post header img {
    margin: 0;
    width: 100%;
  }
  .post iframe {
    margin: 0 -4rem;
    width: calc(100% + 8rem);
  }
}


/**/

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
  height: 1px;
}

[data-theme="dark"] hr {
  filter: invert();
}

/*SOCIAL ICONS*/
.social-icons {
  grid-template-columns: repeat(3, calc(33% - 3rem));
}

.social-icons img {
  border-radius: 3px;
  margin: 0;
  opacity: 0.8;
  padding: 1rem;
  width: auto;
}

[data-theme="dark"] .social-icons img:not(:hover) {
  filter: invert();
}

/* [data-theme="dark"] .js-nightmode-toggle img {
  filter: invert()
} */

.social-icons img:hover,
.social-icons img:focus {
  background-color: var(--link-color);
}



/* .nightmode {
  background: rgba(10, 10, 10, 0.93);
  color: rgba(255, 255, 255, .9);
}

.nightmode a {
  color: var(--link-color)
}

.nightmode a:hover,
.nightmode a:focus,
.nightmode a:active {
  color: var(--link-color);
} */

.repo {
  background: var(--bg-lighter);
  border: solid thin var(--bg-light);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 2rem;
}
.repo section {
  flex: 1;
}

.repo section div {
  padding-top: 1rem;
}

.repo section a {
  /* background: var(--bg-light); */
  /* border-radius: 3px;
  padding: 0.5rem; */
}

.repo footer {
  align-items: flex-end;
  opacity: 0.6;
  padding: 1rem 0 0 0;
  text-align: unset;
}

[data-theme="dark"] .repo footer img {
  filter: invert();
}
