<footer class="bg-light">
  &copy; Malcolm Meyer 2020 | powered by <a href="https://github.com">GitHub</a> & <a href="https://www.netlify.com">Netlify</a>
</footer>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script> -->