<nav class="nav container">
  <div class="nav-logo">
    <a href="/"><%- config.title %> | <%- config.author %></a>
  </div>
  <!-- <div class="nav-links">
    <a href="/blog"><img src="https://icongr.am/clarity/edit.svg?size=20&color=currentColor"> Blog</a>
    <a href="/code"><img src="https://icongr.am/clarity/code.svg?size=20&color=currentColor"> Code</a>
    <a href="https://malcolmmeyer.com"><img src="https://icongr.am/clarity/image-gallery.svg?size=20&color=currentColor"> Work</a>
    <a href="/contact"><img src="https://icongr.am/clarity/email.svg?size=20&color=currentColor"> Contact</a>
    <a href="#" class="js-nightmode-toggle"><img src="https://icongr.am/clarity/moon.svg?size=20&color=currentColor"> Theme</a>
  </div> -->
</nav>

<!-- <nav class="nav-mobile">
  <a href="/"><img src="https://icongr.am/clarity/home.svg?size=20&color=currentColor"></a>
  <a href="/blog"><img src="https://icongr.am/clarity/edit.svg?size=20&color=currentColor"></a>
  <a href="/code"><img src="https://icongr.am/clarity/code.svg?size=20&color=currentColor"></a>
  <a href="https://malcolmmeyer.com"><img src="https://icongr.am/clarity/image-gallery.svg?size=20&color=currentColor"></a>
  <a href="/contact"><img src="https://icongr.am/clarity/email.svg?size=20&color=currentColor"></a>
  <a href="#" class="js-nightmode-toggle"><img src="https://icongr.am/clarity/moon.svg?size=20&color=currentColor"></a>
</nav> -->
