<script>

  var stylesheets = [
    "/reveal.js/css/reveal.css",
    "/reveal.js/css/theme/<%= page.theme %>.css",
    "/reveal.js/lib/css/monokai.css"
  ]
//    "/reveal.js/css/reset.css",

  function addStyles(stylesheets) {
      let link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '/reveal.js/css/print/pdf.css' : '/reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    for (var s = 0; s < stylesheets.length; s++) {
      let link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = stylesheets[s];
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
  }

  addStyles(stylesheets)

</script>
<!--layout: slides.html-->
<div class="reveal">
  <div class="slides" id="slides">
    <% if (page.template) { %>
    <section data-markdown data-separator="___">
      <script type="text/template">
        <%- page.content %>
      </script>
    </ssection>
    <%} else {%>
      <%- page.content %>
    <%}%>
    <!--end slide-->
  </div>
</div>
<script src="/reveal.js/js/reveal.js"></script>

<script>
  // More info about config & dependencies:
  // - https://github.com/hakimel/reveal.js#configuration
  // - https://github.com/hakimel/reveal.js#dependencies
  Reveal.initialize({
    transition: '<% if (page.transition) {%><%= page.transition %><%} else {%>fade<%}%>',
    hash: true,
    dependencies: [
      { src: '/reveal.js/plugin/markdown/marked.js' },
      { src: '/reveal.js/plugin/markdown/markdown.js' },
      { src: '/reveal.js/plugin/notes/notes.js', async: true },
      { src: '/reveal.js/plugin/highlight/highlight.js', async: false }
    ]
  });
</script>