<section class="right-sidebar">
  <div>
   <h3 class="alt-color">Topics</h3>
   <div class="tagcloud">
   <%- list_tags({
     show_count: false,
     class: 'clean tag'
   }) %>
   </div>
  </div>
  <div>
   <hr>
   <h3 class="alt-color">About</h3>
   <div style="font-weight: 300;font-size: 1.4rem;">
    <p>
     This site focuses on the geospatial industry with a focus on free and open source software.
    </p>
    <p>
     <a href="/">getBounds</a> is coded and written by Malcolm Meyer.
    </p>
   </div>
   <hr>
   <div class="social-icons grid" style="font-size:1.4rem;">
    <!-- <a href="https://www.twitter.com/getbounds"><img src="https://icongr.am/feather/twitter.svg?size=18&color=000" alt="link to twitter"></a>
    <a href="https://github.com/reyemtm"><img src="https://icongr.am/feather/github.svg?size=18&color=000" alt="link to github"></a>
    <a href="/contact/"><img src="https://icongr.am/feather/mail.svg?size=18&color=000" alt="link to contact page"></a>
    <a href="#" class="js-nightmode-toggle"><img src="https://icongr.am/feather/moon.svg?size=18&color=000" alt="dark theme toggle"></a> -->
    <a href="/contact/">Contact</a>
    <a href="https://github.com/reyemtm">GitHub</a>
    <a href="https://www.twitter.com/getbounds">Twitter</a>
   </div>
 </div>

  <!--     <div>
     <input type="email" placeholder="Newsletter Signup"></input>
    </div> -->
 </section>