<script>
  function tagCloud(array, el) {
    var tagDiv = document.querySelector(el);
    Object.keys(array).forEach(tag => {
      var fontSize = 0.8 + (array[tag] * 0.1);

      if (array[tag] > 1) {
        tagDiv.innerHTML += `<div class="tag">${tag} </div>`
      }
    })
  }

  if (document.querySelector(".js-nightmode-toggle")) {
    var toggles = document.querySelectorAll(".js-nightmode-toggle");
    toggles[0].addEventListener("click", function(e) {
      e.preventDefault()
      console.log(localStorage.getItem("theme"))
      // nightmodeToggle("nightmode")
      if (document.documentElement.getAttribute('data-theme') === 'dark') {
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem("theme", "light")
      }else{
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem("theme", "dark")
      }
    });
    toggles[1].addEventListener("click", function(e) {
      e.preventDefault()
      console.log(localStorage.getItem("theme"))
      // nightmodeToggle("nightmode")
      if (document.documentElement.getAttribute('data-theme') === 'dark') {
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem("theme", "light")
      }else{
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem("theme", "dark")
      }
    })
  }

  if (localStorage.getItem("theme") && localStorage.getItem("theme") === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
  }

  // function nightmodeToggle(classname) {
  //   let body = document.body;
  //   if (body.classList.contains(classname)) {
  //     body.classList.remove(classname)
  //     localStorage.removeItem(classname)
  //   } else {
  //     body.classList.add(classname)
  //     localStorage.setItem(classname, 1)
  //   }
  // }

</script>
