/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("Montserrat-Thin.eot");
  src: url("Montserrat-Thin.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-Thin.woff2") format("woff2"),
       url("Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("Montserrat-ThinItalic.eot");
  src: url("Montserrat-ThinItalic.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-ThinItalic.woff2") format("woff2"),
       url("Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("Montserrat-ExtraLight.eot");
  src: url("Montserrat-ExtraLight.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-ExtraLight.woff2") format("woff2"),
       url("Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("Montserrat-ExtraLightItalic.eot");
  src: url("Montserrat-ExtraLightItalic.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-ExtraLightItalic.woff2") format("woff2"),
       url("Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("Montserrat-Light.eot");
  src: url("Montserrat-Light.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-Light.woff2") format("woff2"),
       url("Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("Montserrat-LightItalic.eot");
  src: url("Montserrat-LightItalic.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-LightItalic.woff2") format("woff2"),
       url("Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("Montserrat-Regular.eot");
  src: url("Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-Regular.woff2") format("woff2"),
       url("Montserrat-Regular.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("Montserrat-Medium.eot");
  src: url("Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-Medium.woff2") format("woff2"),
       url("Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("Montserrat-MediumItalic.eot");
  src: url("Montserrat-MediumItalic.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-MediumItalic.woff2") format("woff2"),
       url("Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url("Montserrat-SemiBold.eot");
  src: url("Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
       url("Montserrat-SemiBold.woff2") format("woff2"),
       url("Montserrat-SemiBold.woff") format("woff");
}