<main class="container grid grid-7x-3x">
<section>
  <h3 class="alt-color">Contact Form</h3>
  <form class="grid" style="grid-row-gap: 1rem" name="contact" method="POST" data-netlify="true">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Jane Doe">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="jdoe@email.com" >

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Message..." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</section>

<%- partial("_partial/sidebar") %>

</main>